body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image:url("http://www.colourbox.com/preview/5899155-628755-race-horizontal-background.jpg");
  background-size: 1500px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.square{
  position:absolute;
  box-shadow: 10px 10px 5px #888888;
  border-left: 10px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 50px solid transparent;
  background-image: url("http://www.gillette.com/fresh-blade-better-shave/en-US/assets/img/racecar.png");
  background-repeat:no-repeat;
  background-size: 150px;
}

.triangle{
  position:absolute;
  box-shadow: 10px 10px 5px #888888;
  border-left: 10px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 50px solid transparent;
  background-image: url("http://img4.wikia.nocookie.net/__cb20130429202207/motorworld/images/1/12/Berliner_Race_Car.png");
  background-repeat:no-repeat;
  background-size: 100px;

}
